In [1]:
import os

crimePath, normalPath = "dataset/ImageDataset/crime/", "dataset/ImageDataset/normal/"

crimeFrames, normalFrames = os.listdir(crimePath), os.listdir(normalPath)

crimeFrames = [crimePath+frame for frame in crimeFrames]
normalFrames = [normalPath+frame for frame in normalFrames]

crimeClass = ['crime']*len(crimeFrames)
normalClass = ['normal']*len(normalFrames)

allFrames = crimeFrames+normalFrames
allClass = crimeClass+normalClass

In [2]:
import pandas as pd

df = pd.DataFrame({
    'path':allFrames,
    'class': allClass
})

df.head()

                                                path  class
0  dataset/ImageDataset/crime/Burglary051_x2641.0...  crime
1  dataset/ImageDataset/crime/Burglary051_x26410....  crime
2  dataset/ImageDataset/crime/Burglary051_x26411....  crime
3  dataset/ImageDataset/crime/Burglary051_x26412....  crime
4  dataset/ImageDataset/crime/Burglary051_x26413....  crime

In [3]:
test = df.sample(frac=1)
test.reset_index(inplace=True)
test.drop('index', axis=1, inplace=True)
test.to_csv('train.csv', index=False)
test

                                                    path   class
0      dataset/ImageDataset/crime/Stealing044_x26498....   crime
1      dataset/ImageDataset/normal/Normal_Videos_924_...  normal
2      dataset/ImageDataset/crime/Stealing006_x26495....   crime
3      dataset/ImageDataset/crime/Stealing031_x26421....   crime
4      dataset/ImageDataset/normal/Normal_Videos_360_...  normal
...                                                  ...     ...
34558  dataset/ImageDataset/crime/Stealing089_x264267...   crime
34559  dataset/ImageDataset/crime/Burglary056_x26431....   crime
34560  dataset/ImageDataset/normal/Normal_Videos_686_...  normal
34561  dataset/ImageDataset/normal/Normal_Videos_606_...  normal
34562  dataset/ImageDataset/crime/Burglary090_x2649.0...   crime

[34563 rows x 2 columns]